<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <div class="card-body" *ngIf="speech">
        <form novalidate #speechForm="ngForm">

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="speechNameId">Speech Name</label>
                <div class="col-md-8">
                    <input class="form-control" id="speechNameId" type="text" placeholder="Name (required)" required
                        minlength="3" [(ngModel)]=speech.speechName name="speechName" #speechNameVar="ngModel"
                        [ngClass]="{'is-invalid': (speechNameVar.touched || speechNameVar.dirty) && !speechNameVar.valid }" />
                    <span class="invalid-feedback">
                        <span *ngIf="speechNameVar.errors?.required">
                            Speech name is required.
                        </span>
                        <span *ngIf="speechNameVar.errors?.minlength">
                            Speech name must be at least three characters.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="speechAuthor">Speech Author</label>
                <div class="col-md-8">
                    <input class="form-control" id="speechAuthor" type="text" placeholder="Author (required)" required
                        [(ngModel)]=speech.author name="speechAuthor" #speechAuthorVar="ngModel"
                        [ngClass]="{'is-invalid': (speechAuthorVar.touched || speechAuthorVar.dirty) && !speechAuthorVar.valid }" />
                    <span class="invalid-feedback">
                        <span *ngIf="speechAuthorVar.errors?.required">
                            Speech Author is required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="speechContentId">Speech Content</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="speechContentId" placeholder="Speech Content" rows=3
                        [(ngModel)]=speech.speechContent name="speechContentId" #speechContentVar="ngModel"
                        [ngClass]="{'is-invalid': (speechContentVar.touched || speechContentVar.dirty) && !speechContentVar.valid }"></textarea>
                    <span class="invalid-feedback">
                        <span *ngIf="speechContentVar.errors?.required">
                            Speech Content is required.
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label"
                       for="tagsId">Search Tags</label>
                <div class="col-md-8">
                  <input class="form-control"
                         id="tagsId"
                         type="text"
                         placeholder="Search keywords separated by commas"
                         [(ngModel)]="newTags"
                         name="tags" />
                </div>
                <div class="col-md-1">
                  <button class="btn btn-outline-primary"
                          type="button"
                          title="Enter the search keywords separated by commas and then press Add"
                          (click)="addTags()">
                    Add
                  </button>
                </div>
              </div>
        
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <span *ngFor="let tag of speech.tags; let i = index">
                    <button class="btn btn-outline-secondary"
                            style="font-size:smaller;margin-bottom:12px;margin-right:2px"
                            title="Click to remove this tag"
                            (click)="removeTag(i)">
                      {{tag}}
                      <span class="fas fa-times-circle"></span>
                    </button>
                  </span>
                </div>
              </div>

            <div class="form-group row">
                <label class="col-md-2 col-form-label" for="speechDate">Speech Date</label>
                <div class="col-md-8">
                    <input class="form-control" #date type="date" placeholder="Date (required)" required
                        [(ngModel)]=speech.speechDate name="speechDate" #speechDateVar="ngModel"
                         />
                    <span class="invalid-feedback">
                    </span>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-md-4">
                    <button class="btn btn-primary mr-3" style="width:80px" type="button"
                        [title]="speechForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                        [disabled]="!speechForm.valid" (click)="saveSpeech()">
                        Save
                    </button>
                    <button class="btn btn-outline-secondary mr-3" style="width:80px" type="button"
                        title="Cancel your edits"
                        [routerLink]="['/speeches']">
                        Cancel
                    </button>
                    <button class="btn btn-outline-warning" style="width:80px" type="button" title="Delete this speech"
                        (click)="deleteSpeech()">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}
</div>